
@using Microsoft.AspNetCore.Identity

@inject SignInManager<WebUser> SignInManager
@inject UserManager<WebUser> UserManager
<style>
    .btn-link:hover {
        color: #0a0a0a;
    }

    .
</style>

@if (SignInManager.IsSignedIn(User))
{


    var user = await @UserManager.GetUserAsync(User);

        <a id="manage" class="d-flex align-items-center pe-2 " style="width: max-content;"   asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user.UserName !</a>



    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-primary  ">Logout</button>
    </form>

}
else
{
    <li class="nav-item">
        <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

